@charset "utf-8";
/* CSS Document */
.main .right p:nth-child(2){border-bottom:0;}
.main .right p:nth-child(2) a{color:#606060;}
.main .left li:nth-child(7){background:#005aab;}
.main .left li:nth-child(7) a{color:#FFF;}
.main{padding-bottom:40px;}

