@charset "utf-8";
/* CSS Document */
.main .right p:nth-child(64){border-bottom:1px solid #d8d8d8; padding-bottom:16px; margin-bottom:11px;}
.main .right p span{ font-size:12px; font-weight:bold;}
.main .left li:nth-child(3){background:#005aab;}
.main .left li:nth-child(3) a{color:#FFF;}