.main{width: 1000px;margin:0 auto;position: relative;}
.main .nav{position: absolute;width:1000px;left: 0;top:-40px;background: url(../images/pic1_03.gif) no-repeat left top;}
.main .nav h2{width: 200px;font-size:16px;text-align: center;color: #fff;height: 40px;line-height: 40px;float:left;}
.main .nav p{font-size:12px;line-height: 40px;height: 40px;color: #c3dcf2;}
.main .nav p a{display: inline-block;padding-left:16px;padding-right:6px;color: #c3dcf2}
.main .nav p a:hover{color: red;}
.main .left,.main .right{float:left;}
.main .left{width: 200px;}
.main .left ul li{text-align: center;font-size: 14px;height: 32px;line-height: 32px;background: #f2f2f2;}
.main .left ul li:nth-child(1){border-bottom:3px solid #c2d3e2 ;background: #005aab;}
.main .left ul li:hover{background: #005aab;}
.main .left ul li:hover a{color:#fff;}
.main .left ul li a{color: #60608d;}
.main .left ul li:nth-child(1) a{color: #fff;}
.main .right{width: 778px;padding-left: 22px;padding-bottom: 83px;}
.main h3{margin-bottom:15px;border-bottom: 1px solid #ccc;height: 88px;line-height: 88px;font-size: 18px;font-weight: inherit;}
.main img{margin-bottom:20px;}
input[type="reset"],input[type="button"]{height:39px;   border:none; border-radius:5px; margin-top:0; }
input[type="reset"]{background:url(../images/jiantou_03.jpg) no-repeat 12px 10px,#33beff; color:#FFF; font-size:14px; text-indent:17px; margin-right:470px; width:75px;}
input[type="reset"],input[type="button"],.fx{float:left;}
input[type="button"]{width:99px; background:url(../images/pic_07.gif) no-repeat 16px 11px,#33beff; color:#FFF; font-size:14px; padding-left:30px;}
input[type="reset"]:hover{background:url(../images/b1b_03.jpg) no-repeat 11px center,#0059a9; cursor:pointer;}
input[type="button"]:hover{background:url(../images/cc.gif) no-repeat 14px 11px,#0059a9;cursor:pointer;}
.fx{width:75px;position:relative; margin-right:15px;  height:39px; background:url(../images/pic_05.gif) no-repeat 16px 12px,#33beff;border-radius:5px;}
.fx>a{width:75px;display:block; color:#FFF; font-size:14px; text-indent:35px;margin-right:15px; height:39px;line-height:39px;}
.fx:hover{background:url(../images/pic3_0.jpg) no-repeat 16px center,#0059a9;}
.fx:hover .fenxiang{display:block;}
.fenxiang{width: 242px;border: 1px solid #cccccc;position: absolute;left:0;top:-272px;background:#FFF;display:none;}
.fenxiang h5{margin:0; height:24px; line-height:24px; border-bottom:1px solid #cccccc; font-size:12px; color:#000000;background:#f2f2f2; padding-left:5px;}
.fenxiang ul{padding-left:7px; height:226px;}
.fenxiang li{width:114px; height:28px; line-height:28px; float:left;}
.fenxiang li img{margin-top:6px;}
.fenxiang li a{padding-left:4px; font-size:12px; color:#000000;}
.fenxiang li img,.fenxiang li a{float:left;}
.right .fenxiang p{margin:0; height:18px; line-height:18px; background: url(../images/pic_38.jpg) no-repeat 189px center ,#f2f2f2; width:49px; padding-left:189px; text-align:right; border-top:1px solid #e5e5e5; padding-right:4px;}
.right .fenxiang p a{font-size:12px; color:#393439;}
.right .fenxiang a:hover{color: red;}
