@charset "utf-8";
.left>ul>li>ul>li:nth-child(9) a{font-weight:bold; color:#005aab;}
.center{width: 745px; padding-left:20px; padding-right:35px;}
.center ul li{float: left;line-height: 24px;font-size: 12px;margin-bottom: 10px;}
