
.header{ width:1000px; border-bottom: 40px solid #005aab; border-left: 40px solid transparent; border-right: 40px solid transparent; font-family:"宋体"; margin:0 auto; position:absolute; left:0; top:-40px;}
.header h2{ position: absolute; top:11px; left: 35px; font-size: 16px; color: #FFF;}
.header p{ font-size: 12px; color: #c3dcf2; position: absolute; left: 168px; top:13px;}
.header p a{ color:#c3dcf2;}
.main{position:relative; width:1000px; margin:0 auto; font-family:"微软雅黑";padding-bottom: 20px;}
.main .right{ width:740px;padding:18px 25px 82px 35px;}
.main .left,.main .right{float: left;}
.main .right h2{height: 54px;line-height: 54px;font-size: 18px;}
.main .right p:nth-child(2){height: 23px;line-height: 23px;font-size:12px;color: #606060;border-bottom: 1px solid #ccc;}
.main .right h3{height: 65px;color:#606060;font-weight:inherit;line-height: 65px;text-align: center;font-size: 12px;margin-bottom: 22px;}
.main .right p{line-height: 20px;font-size: 12px;color: #606060;padding-bottom: 14px;}
.main .right p.last{border-bottom: 1px solid #ccc;margin-bottom: 12px;} 
input[type="reset"],input[type="button"]{height:39px;   border:none; border-radius:5px; margin-top:0; }
input[type="reset"]{background:url(../images/jiantou_03.jpg) no-repeat 12px 10px,#33beff; color:#FFF; font-size:14px; text-indent:17px; margin-right:400px; width:75px;}
input[type="reset"],input[type="button"],.fx{float:left;}
input[type="button"]{width:99px; background:url(../images/pic_07.gif) no-repeat 16px 11px,#33beff; color:#FFF; font-size:14px; padding-left:30px;}
input[type="reset"]:hover{background:url(../images/b1b_03.jpg) no-repeat 11px center,#0059a9; cursor:pointer;}
input[type="button"]:hover{background:url(../images/cc.gif) no-repeat 14px 11px,#0059a9;cursor:pointer;}
.fx{width:75px;position:relative; margin-right:15px;  height:39px; background:url(../images/pic_05.gif) no-repeat 16px 12px,#33beff;border-radius:5px;}
.fx>a{width:75px;display:block; color:#FFF; font-size:14px; text-indent:35px;margin-right:15px; height:39px;line-height:39px;}
.fx:hover{background:url(../images/pic3_0.jpg) no-repeat 16px center,#0059a9;}
.fx:hover .fenxiang{display:block;}
.fenxiang{width: 242px;border: 1px solid #cccccc;position: absolute;left:0;top:-272px;background:#FFF;display:none;}
.fenxiang h5{margin:0; height:24px; line-height:24px; border-bottom:1px solid #cccccc; font-size:12px; color:#000000;background:#f2f2f2; padding-left:5px;}
.fenxiang ul{padding-left:7px; height:226px;}
.fenxiang li{width:114px; height:28px; line-height:28px; float:left;}
.fenxiang li img{margin-top:6px;}
.fenxiang li a{padding-left:4px; font-size:12px; color:#000000;}
.fenxiang li img,.fenxiang li a{float:left;}
.right .fenxiang p{margin:0; height:18px; line-height:18px; background: url(../images/pic_38.jpg) no-repeat 189px center ,#f2f2f2; width:49px; padding-left:189px; text-align:right; border-top:1px solid #e5e5e5; padding-right:4px;}
.right .fenxiang p a{font-size:12px; color:#393439;}
.right .fenxiang a:hover{color: red;}
