@charset "utf-8";
/* CSS Document */
.header{ width:1000px; border-bottom: 40px solid #005aab; border-left: 40px solid transparent; border-right: 40px solid transparent; margin:0 auto; position:absolute; left:0; top:-40px;}
.header h2{ position: absolute; top:11px; left: 35px; font-size: 16px; color: #FFF;}
.header p{ font-size: 12px; color: #c3dcf2; position: absolute; left: 168px; top:13px;}
.header p a{ color:#c3dcf2;}
.main .left>ul>li:nth-child(1){background:#005aab;}
.main .left>ul>li:nth-child(1)>a{color: #fff;}
.main .left ul li ul li:nth-child(2) a{color:#005aab ;font-weight: 700;}
.main{  position:relative; width:1000px; margin:0 auto; font-family:"微软雅黑";}
.main .right{ width:765px; padding-left:35px; float:left;}
.main .right .top{ width:765px; border-bottom:1px solid #dddddd; padding-bottom:14px;}
.main .right .top h2{ height:84px; line-height:84px; font-size:18px; color:#303030;}
.main .right .top img{ margin-left:24px; margin-bottom:33px;}
.main .right .top h4{ text-align:center; height:38px; line-height:38px; font-size:22px; color:#000; font-family:"宋体";}
.main .right .top span{ display:block; text-align:center; height:57px; line-height:57px; font-size:12px; color:#606060; padding-left:90px;}
.main .right .top p{ width:750px; line-height:18px; font-size:12px; color:#606060; padding-bottom:21px;}

.main .right .bottom{ width:765px; padding-top:11px; padding-bottom:83px;}
.main .right .bottom>a{ display:block; float:left; height:39px; border:1px solid #33beff; border-radius:5px; line-height:39px; font-size:12px; color:#FFF;}
.main .right .bottom input{ float:left; width:75px; text-indent:10px; height:39px; border:1px solid #33beff; border-radius:5px; line-height:39px; font-size:14px; color:#FFF; background:url(../images/fanhui1.jpg), #33beff; margin-right:470px;}
.main .right .bottom input:hover{ background:url(../images/fanhui_r1_c1-1.jpg) no-repeat,#0059a9;}
.main .right .bottom>a:nth-child(2){width:75px; text-indent:36px; background:url(../images/ceo_r1_c3.jpg) no-repeat, #33beff; margin-right:15px;}
.main .right .bottom>a:nth-child(2):hover{ background:;background:url(../images/ceo_r3_c3.jpg) no-repeat,#0059a9;}
.main .right .bottom>a:nth-child(3){width:99px; text-indent:36px; background:url(../images/ceo_r1_c1-1.jpg) no-repeat, #33beff;}
.main .right .bottom>a:nth-child(3):hover{ background:url(../images/ceo_r3_c1.jpg) no-repeat,#0059a9;}
